blockquote {
    font-size: small;
}

.figure {
    background-color: whitesmoke;
}

.caption {
    background-color: whitesmoke;
}
.caption i {
    font-style: italic;
}

.fluid-row {
    background-image: url(../images/science_logo_400x400.jpg);
    background-position: right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;

}

#questions {
    background: lightgreen;
    color: darkgreen;
}
#questions:before {
    font-weight: bold;
    background-image: url(../images/question-svgrepo-com.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left;
    content: "Questions:";
    padding-left: 25px;
}
#questions h1, h2, h3, h4 {
    margin-left: 15px;
}
#questions ol {
    padding: 10px
}
#questions ol li {
    background: #c3f9c3;
    padding: 5px; 
    margin-left: 35px;
}

#note {
    background: skyblue;
    color: darkblue;
    padding: 10px;
}
#note:before {
    font-weight: bold;
    background-image: url(../images/note-icon.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left;
    content: "Note:";
    padding-left: 25px;
}

#summary {
    background: cornsilk;
    color: #886715;
    padding: 10px;
}
#summary:before {
    font-weight: bold;
    background-image: url(../images/summary.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left;
    content: "Summary:";
    padding-left: 25px;
}

#warning {
    background: mistyrose;
    color: firebrick;
    padding: 10px;
}
#warning:before {
    font-weight: bold;
    background-image: url(../images/caution-icon.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left;
    content: "Caution:";
    padding-left: 25px;
}